.card {
  background-color: #d0f4ea;
  height: 16em;
  border-radius: 1em;
  margin: 1.5em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
}

.article {
  display: grid;
  grid-template-rows: auto;
  text-align: end;
  padding-right: 1em;
}

.img {
  border-radius: 1em 0 0 1em;
  padding-top: 0;
  grid-area: 1/1;
}

.info {
  grid-area: 1/2;
  display: grid;
}

.name {
  letter-spacing: 0.7em;
  text-align: left;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

@media (max-width: 500px) {
  .card {
    height: auto;
    padding: 1em;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    place-items: center;
  }
  .article {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    width: 1em;
  }

  .img {
    height: auto;
    width: 80%;
    border-radius: 2em 2em 0 0;
  }
}
